body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;

}
.container{
  max-width: 1200px;   
  margin: 0 auto;
  padding: 0 20px;
}

header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 0;

}
header h1{
    margin: 0;
}

header p{
    margin: 0;
}
.about-me
.projects
.contact{
    padding: 40px 0;
}

.projects .project {
    margin-bottom: 20px;
    text-align: center;

}
.projects img{
    max-width: 100%;
    height: auto;
}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding:20px 0 ;
}